.idea
/node_modules
**/zookeeper*
**/broker*
kafka-client.iml
**/generated/*
**/target/*
**/.idea
**/*.iml
**/*.ts
**/file-log.txt
**/com/globomantics/model
**/security/**/*.jks
**/security/**/ca-cert
**/security/**/ca-key
**/authentication
*.answer
*.pem
*.key
/src/main/frontend/generated/
/src/test/resources/junit-aicon-connections.xml
/src/test/resources/updated-aicon-connections.xml
package*.json
tsconfig.json
vite.generated.ts
prod.bundle

