/* Standaardstijl voor niet-geselecteerde tabs */
.outlined-tabs vaadin-tab {
    padding: 10px;
    border: 2px solid transparent;
}

.outlined-tabs vaadin-tab[selected]::part(tab) {
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}
